<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block page_title %} {% endblock %}</title>

    <link type="text/css"rel="stylesheet" href="../../theme/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../theme/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">

</head>
<body>
    <div class="row">
        <div class="text-center jumbotron">
            <h1 class="text-center">{% block title %} {% endblock %}</h1>
        </div>
        {% block body %} {% endblock %}
    </div>


    <script src="../../theme/jquery/jquery-1.12.4-min.js"></script>
    <script src="../../theme/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>





