<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block page_title %} {% endblock %}</title>

    <link type="text/css"rel="stylesheet" href="../../theme/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../theme/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">

</head>
<body>
    <div class="row">
        <div class="col-md-12">
        <div class="text-center jumbotron">
            <h2 class="text-center">{% block title %} {% endblock %}</h2>
        </div>
        {% block body %} {% endblock %}
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../theme/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>
